.body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right top,#2F4F4F,#F0E68C,#F0E68C);
}

.login-center {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(255,255,255,0.64);
  min-height: 400px;
}

.body {
}

.body {
}

.body {
}

